<div class="container">
    <div class="row">
        <div class="col-xs-4"><img src="logo.jpg" class="img-responsive"/></div>
        <div class="col-xs-4"><img src="logo_center.jpg" class="img-responsive"/></div>
        <div class="col-xs-4"><img src="logo_right.jpg" class="img-responsive"/></div>
    </div>
    <div ui-view=""></div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <a ng-if="debug" ng-click="next()" class="btn btn-default">Next</a>
                <a ng-if="!(config.disableBackButton === 'true') && canGoBack()" onclick="history.back()" href="" ng-bind-html="language.backButton" class="btn btn-default"></a>
            </div>

            <div class="col-xs-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" ng-style="{ width: progressStyle()}">
                        <span class="sr-only">{{ progress() * 100 | number:0}}% complete</span>{{ progress() * 100 | number:0}}%
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <a ng-if="hasHelp()" ng-click="help()" class="btn btn-default pull-right" ng-bind-html="language.btnHelp"></a>
            </div>
        </div>
    </div>
</footer>